# Simple transformers Stuff
cache_dir
outputs
runs

# PyCharm Stuff
.idea

# Virtual Environments
.env

# Jupyter Notebook
.ipynb_checkpoints

# Files that aren't finished yet
basics/notebooks/PandasBasics.ipynb
basics/notebooks/DataScienceTestingBasics.ipynb

# Files that will be used to guide the presentation
\[Presentation\] ExploratoryDataAnalysis.ipynb
\[Presentation\] BinaryClassification.ipynb

# Files that will be revealed after the training
\[Gabarito\] ExploratoryDataAnalysis.ipynb
\[Gabarito\] BinaryClassification.ipynb
